<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="6.0+" codebase="http://mogwai.sourceforge.net/erdesignerng" href="$outputFile" version="$project.version">
    <information>
        <title>Mogwai ERDesignerNG</title>
        <vendor>Project Mogwai</vendor>
        <homepage href="http://mogwai.sourceforge.net"/>
        <offline-allowed/>
        <shortcut online="false">
            <desktop/>
            <menu submenu="Project Mogwai"/>
        </shortcut>
    </information>
    <update check="timeout" policy="always"/>
    <security>
        <all-permissions/>
    </security>
    <resources>
        <j2se version="1.6+" java-vm-args="-Xmx512M"/>
        $dependencies
    </resources>
    <resources os="Windows" arch="x86">
        <nativelib href="java3d/win32/j3dcore-d3d.dll"/>
        <nativelib href="java3d/win32/j3dcore-ogl.dll"/>
        <nativelib href="java3d/win32/j3dcore-ogl-cg.dll"/>
        <nativelib href="java3d/win32/j3dcore-ogl-chk.dll"/>
    </resources>
    <resources os="Windows" arch="x86_64">
        <nativelib href="java3d/win32/j3dcore-d3d.dll"/>
        <nativelib href="java3d/win32/j3dcore-ogl.dll"/>
        <nativelib href="java3d/win32/j3dcore-ogl-cg.dll"/>
        <nativelib href="java3d/win32/j3dcore-ogl-chk.dll"/>
    </resources>
    <resources os="Windows" arch="amd64">
        <nativelib href="java3d/win64/j3dcore-ogl.dll"/>
    </resources>
    <resources os="Linux" arch="x86">
        <nativelib href="java3d/linux32/j3dcore-ogl.dll"/>
        <nativelib href="java3d/linux32/j3dcore-ogl-cg.dll"/>
    </resources>
    <resources os="Linux" arch="amd64">
        <nativelib href="java3d/linux64/j3dcore-ogl.dll"/>
    </resources>
    <resources os="Linux" arch="x86_64">
        <nativelib href="java3d/linux64/j3dcore-ogl.dll"/>
    </resources>
    <application-desc main-class="$mainClass"/>
</jnlp>