<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="http://mogwai.sourceforge.net/erdesignerng" href="$outputFile">
    <information>
        <title>Mogwai ERDesignerNG</title>
        <vendor>Project Mogwai</vendor>
        <homepage href="http://mogwai.sourceforge.net"/>
        <offline-allowed/>
        <shortcut online="false">
            <desktop/>
            <menu submenu="Project Mogwai"/>
        </shortcut>
    </information>
    <update check="timeout" policy="always"/>
    <security>
        <all-permissions/>
    </security>
    <resources>
        <j2se version="1.6+" java-vm-args="-Xmx512M"/>
        $dependencies
    </resources>
    <resources os="Windows" arch="x86">
        <nativelib href="lib/j3d-native-win32-1.5.2.jar"/>
    </resources>
    <resources os="Windows" arch="x86_64">
        <nativelib href="lib/j3d-native-win64-1.5.2.jar"/>
    </resources>
    <resources os="Windows" arch="amd64">
        <nativelib href="lib/j3d-native-win64-1.5.2.jar"/>
    </resources>
    <resources os="Linux" arch="x86">
        <nativelib href="lib/j3d-native-linux32-1.5.2.jar"/>
    </resources>
    <resources os="Linux" arch="amd64">
        <nativelib href="lib/j3d-native-linux64-1.5.2.jar"/>
    </resources>
    <resources os="Linux" arch="x86_64">
        <nativelib href="lib/j3d-native-linux64-1.5.2.jar"/>
    </resources>
    <application-desc main-class="$mainClass"/>
</jnlp>